<!DOCTYPE html>
<html>
  <head>
    <title>크라우드펀딩</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' /-->
    <!--<meta charset="UTF-8">-->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.js"></script>-->
    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bignumber.js/bignumber.min.js"></script>-->
    <!--<script type="text/javascript" src="/javascripts/lazykerABI.js"></script>-->
  </head>
  <body>
    <p><%= accounts %></p>
    <p>5조 프로젝트 입니다.</p>
  </body>
</html>
